.block_of__goods {
  display: block;
}

.block_of__goods .logo_name .category_name {
  font-size: 20px;
  font-weight: 400;
  
}

.block_of__goods .logo_name {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  opacity: 1;
  pointer-events: none;
}

.block_of__goods .list_of__goods {
    width: inherit;
}

.block_of__goods .list_of__goods .products_card{
    display: inline-block;
    width: 230px;
    height: 250px;
    margin: 25px 0 0 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.block_of__goods .list_of__goods .products_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.list_of__goods .products_card img{
    width: 100%;
    border-radius: 15px 15px 0 0;   
}
.list_of__goods .products_card .name_price {
    margin: 10px;
}