.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding-left: 14px;

  background-color: #11101d;

  font-family: "Poppins", sans-serif;
}
.sidebar .logo_content {
  height: 60px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  padding-top: 6px;
  opacity: 1;
  pointer-events: none;
}

.sidebar.activeSidebar .logo_content .logo{
  opacity: 0;
}

.logo_content .logo i {
  font-size: 28px;

  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar ul {
  margin-top: 26px;
  padding-inline-start: 0;
  margin: 0 5px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  box-sizing: border-box;
  
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translateY(-50%);
  height: 35px;
  width: 122px;
  line-height: 35px;
  text-align: center;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar ul li:hover .tooltip{
  top: 50%;
  opacity: 1;
  transition: all 0.5s ease ;
}

.sidebar ul li .box_search{
  position: absolute;
  z-index: 999;
  color: #fff;
  font-size: 22px;

}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  box-sizing: border-box;
  font-size: 18px;
  color: #fff;
}


.sidebar ul li a{
  height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
}

.sidebar ul li a:hover {
  background: #fff;
  color: #1d1b1d;
}

.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile{
  position: relative;
  padding: 10px 6px;
  height: 50px;
  background: #1d1b31;
}

.profile_content .profile .profile_details{
  display: flex;
  align-items: center;
  text-align: center;
  height: inherit;
  overflow: hidden;
}
.profile_details .profile_photo img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job{
  margin-left: 10px;
}

.profile .profile_details .name{
  font-size: 18px;
  font-weight: 400;
}

.profile .profile_details .job{
  font-size: 12px;
}

.profile #log_out{
  position: absolute;
  left: 88%;
  bottom: 10px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}