

.app-wrapper {
  /* transition: 2s ease; */
  display: grid;

  grid-template-areas:
    "sidebar header"
    "sidebar content";

  grid-template-rows: 50px 11fr;

  grid-template-columns: minmax(250px, 2fr) 10fr;
  
}
.app-wrapper.active {
  
  display: grid;

  grid-template-areas:
    "sidebar header"
    "sidebar content";

  grid-template-rows: minmax(50px, 1fr) 11fr;

  grid-template-columns: min-content 1fr;
}




.app-contents {
  grid-area: content;
  background-color: rgb(230, 230, 230);
  padding: 15px;
  
}

.app-contents .content{
  display: block;
  height: auto;
  border-radius: 15px;
  padding: 15px;
  background-color: white;
}